*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #1f1f1f !important;
    color: white !important;
}
.full-page{
    width: 95vw;
    margin: auto;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
    grid-row: repeat(auto-fill, 1fr);
    column-gap: 15px;
    margin-bottom: 50px;
}
.left-side{
    grid-column: 1 / 5;
    padding: 22px;
}

.right-side{
    grid-column: 5 / -1;
    margin: 22px;
    padding: 25px;
    border-radius: 18px;
}
#side-profile{
    padding: 15px;
    text-align: center;
    display: block;
}
#side-profile a{
    text-decoration: none;
}
#side-profile img{
    width: 70%;
    border-radius: 50%;
}
#side-profile .profile-name{
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
    color: white;
}
#side-profile .followers{
    color: #125c72;
    font-size: 20px;
    margin-bottom: 20px;
}
#side-profile .bio{
    margin-top: 10px;
    text-align: justify;
}
#side-profile .edit{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    font-size: 17px;
}
#side-profile .edit i{
    margin-left: 3px;
    font-size: 14px;
}
.right-side ul li span{
    margin-right: 70%;
}
